.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #8b64bf;
    padding: 10px 20px;
    &__logo {
        line-height: 60px;
        font-size: large;
        color: white;
    }
}